<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container my-3">
    <!-- 네비바-->
    <div th:replace ="nav_bar :: nav_barFragment"></div>
    <div class="page-name-head">
        <h2 class="admin-page-name">정산 건별 내역</h2>
    </div>
    <div>
        <p>결제금액</p>
        <h3 th:text="${#numbers.formatInteger(findOrder.totalPrice, 0, 'COMMA')} + '원'" class="price">전체가격</h3>
        <hr size="30" noshade>
        <ul class="list-group list-group-flush">
            <li class="list-group-item listDesc">
                <div class="listDesc">주문 일시</div>
                <div class="listValue"th:text="${#temporals.format(findOrder.orderedAt, 'yyyy-MM-dd HH:mm')}"></div>
            </li>
            <li class="list-group-item listDesc">
                <div class="listDesc">주문 타입</div>
                <div class="listValue"th:text="${findOrder.orderType.getDescription()}"></div>
            </li>
            <li class="list-group-item listDesc">
                <div class="listDesc">주문 상태</div>
                <div class="listValue"th:text="${findOrder.orderStatus.description}"></div>
            </li>
            <li class="list-group-item listDesc">
                <div class="listDesc">결제 상태</div>
                <div class="listValue"th:text="${findOrder.payStatus.getDescription()}"></div>
            </li>
            <li class="list-group-item listDesc">
                <div class="listDesc">요청 사항</div>
                <div class="listValue"th:text="${findOrder.requests}"></div>
            </li>
        </ul>
    </div>
</html>