<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container my-3">
    <!-- 네비바-->
    <div th:replace ="nav_bar :: nav_barFragment"></div>
    <h2>BBS</h2>
    <div class="d-flex" style="position: absolute; left: 20px; top: 70px;"><h2 style="margin-right: 10px;">글 번호:</h2><h2 th:text="${post.id}" id="id"></h2></div>
    <div class="d-flex" style="position: absolute; left: 20px; top: 110px;"><h2 style="margin-right: 10px;">작성자:</h2><h2 th:text="${post.member.username}"></h2></div>
    <main class="form-signin" style="max-width: 100%;">
        <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250">
            <h1 class="h3 m-3 fw-normal">글상세</h1>
            <hr/>
            <div class="form-floating m-3">
                <h3 th:text="${post.subject}" style="margin-bottom: 50px;"></h3>
            </div>
            <div class="form-floating m-3">
                <p th:text="${post.content}"></p>
            </div>


        </div>
        <div th:if="${post.member.id == #authentication.principal.id}">
            <a th:href="@{/post/{id}/modify(id=${post.id})}" class="btn btn-warning" id="btn-update">수정</a>
            <button class="btn btn-danger" id="btn-delete" th:onclick='deleteById()'>삭제</button>
            <script th:inline="javascript">
                /*<![CDATA[*/
                function deleteById() {
                    let id = $("#id").text();

                    $.ajax({
                        type: "DELETE",
                        url: "/api/post/" + id + "/delete",
                        dataType: "json",
                        complete: function () {
                            alert("글삭제가 완료되었습니다.");
                            window.location.href = 'http://localhost:8080/post/list';
                        }
                    }).fail(function (err) {
                        alert(JSON.stringify(err));
                    });
                }
                /*]]>*/
            </script>
        </div>
        <button class="btn btn-secondary" onclick="history.back()" style="position: absolute; top:556px; left:82px;">뒤로</button>
    </main>
</div>
</html>