<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container my-3">
    <div class="brand-logo">
        <img class="brand-logo__image" src="/images/brand_logo.png">
    </div>
    <div class="page-name-head">
        <h2 class="admin-page-name">회원정보 수정</h2>
    </div>

    <form th:object="${sessionDto}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <input type="hidden" id="id" th:field="*{id}">
        <div class="mb-3">
            <label for="username" class="form-label admin-label-name">사용자ID</label>
            <input type="text" th:field="*{username}" id="username" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('username')}" th:errorclass="field-error" th:errors="*{username}">
                사용자ID 오류
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label admin-label-name">비밀번호</label>
            <input type="password" th:field="*{password}" id="password" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('password')}" th:errorclass="field-error" th:errors="*{password}">
                비밀번호 오류
            </div>
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label admin-label-name">필명</label>
            <input type="text" th:field="*{nickname}" id="nickname" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('nickname')}" th:errorclass="field-error" th:errors="*{nickname}">
                필명 오류
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label admin-label-name">이메일</label>
            <input type="text" th:field="*{email}" id="email" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('email')}" th:errorclass="field-error" th:errors="*{email}">
                이메일 오류
            </div>
        </div>
    </form>
        <button id="btn-modify" class="float-right button-blue button-outline create" th:onclick='userModify()'>수정완료</button>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function userModify(e) {
            const data = {
                id: $('#id').val(),
                username: $('#username').val(),
                nickname: $('#nickname').val(),
                password: $('#password').val()
            }
            if (!data.username || data.username.trim() === "" || !data.password || data.password.trim() === "") {
                alert("공백 또는 입력하지 않은 부분이 있습니다.");
                return false;
            } else if (!/(?=.*[0-9])(?=.*[a-zA-Z])(?=.*\W)(?=\S+$).{8,16}/.test(data.password)) {
                alert("비밀번호는 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.");
                $('#password').focus();
                return false;
            }
            const con_check = confirm("수정하시겠습니까?");
            if (con_check === true) {
                $.ajax({
                    type: "PUT",
                    url: "/api/member",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    complete: function () {
                        alert("회원수정이 완료되었습니다.");
                        window.location.href = 'http://localhost:8080/home';
                    }
                }).fail(function (error) {
                    if (error.status === 500) {
                        alert("이미 사용중인 닉네임 입니다.");
                        $('#nickname').focus();
                    } else {
                        alert(JSON.stringify(error));
                    }
                });
            } else {
                return false;
            }
        }
        /*]]>*/
    </script>
</div>
</html>