<div th:fragment="nav_barFragment" class="customer-navbar mb-3">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">멋북스</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" th:onclick="|location.href='@{|/home|}'|">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:onclick="|location.href='@{|/post/list|}'|">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:onclick="|location.href='@{|/post/save|}'|">글작성</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:onclick="|location.href='@{|/product/list|}'|">도서목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:onclick="|location.href='@{|/cart/list|}'|">장바구니</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:onclick="|location.href='@{|{username}/adm/rebate/rebateOrderItemList|}'|">정산조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">도서등록</a>
                </li>
            </ul>
            <button class="btn btn-outline-light" th:onclick="|location.href='@{|/member/modify|}'|">회원정보수정</button>
            <button class="btn btn-outline-light" th:onclick="|location.href='@{|/member/logout|}'|">로그아웃</button>
        </div>
    </div>
</nav>
</div>